<h1><%= @post.title %></h1>
<h3>Summary</h3>
<p><%= @post.summary.body %></p>
<div class="row">
  <div class="col-md-8">
    <h3>Body</h3>
    <p><%= @post.body %></p>
  </div>
  <div class="col-md-4">
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_topic_post_path(@topic, @post), class: 'btn btn-success' %>
    <% end %>
  </div>
</div>
